* {
  font-family: "Karla", sans-serif;
  font-size: 18px;
}

p {
  margin: 0;
  margin-bottom: 8px;
}

header {
  background-color: #28a4e0aa;
}
header > div {
  max-width: 900px;
  margin: auto;
}
header span {
  display: block;
  padding: 24px 32px;
  font-size: 32px;
  color: #fff;
}

hr {
  margin: 32px 0;
}

body {
  margin: 0;
  color: #fff;
  background-color: #222254;
}

.auction-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: auto;
}
.auction-wrapper > div {
  margin: 24px;
}

.auction-info {
  padding: 6px 8px;
  margin: 8px;
}
.auction-info p {
  margin-bottom: 0;
}

#auction-title {
  font-size: 32px;
  margin: 0;
}

#auction-img,
#auction-img > img {
  width: 100%;
}

.item-auction {
  min-width: 40%;
}
.item-auction > div {
  padding: 12px 14px;
  margin: 12px 8px;
  background-color: #28a4e0aa;
  border-left: 2px solid #fff;
}

.auction-fast-bid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.auction-fast-bid .auction-btn {
  min-width: 90px;
}

.auction-direct-bid {
  display: flex;
}

.auction-btn,
#auction-direct-bid-field {
  padding: 8px;
}

@media (max-width: 900px) {
  .auction-wrapper {
    flex-direction: column;
  }
  .auction-fast-bid .auction-btn {
    min-width: unset;
  }
  #auction-direct-bid-field {
    max-width: 70%;
  }
}
